@import "tailwindcss";

@theme {
  --color-primary: #3B82F6;
  --color-secondary: #6366F1;
  --color-accent: #F59E0B;
  --color-background: #F9FAFB;
  --color-surface: #FFFFFF;
  --color-text-main: #111827;
  --color-text-sub: #6B7280;
  --color-danger: #EF4444;
  --color-warning: #F97316;
  --color-success: #22C55E;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--color-background);
  color: var(--color-text-main);
}